/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #F5F5F5;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.app .large-header {
  background-image: none;
}

.logo {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: @color;
  fill: #FFF;
  border-radius: 50%;
  padding: 14%;
  overflow: hidden;
}

.main {
  width: 700px;
  height: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%,-50%,0);

  .main-logo {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    z-index: 2;

    .main-logo-images {
      width: 200px;
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 50%;
      overflow: hidden;

      .main-logo-image {
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }
    }
  }

  .main-text {
    height: 200px;
    width: 500px;
    float: left;
    font-size: 32px;
    font-weight: 200;
    text-transform: lowercase;
    color: @color;
    overflow: hidden;

    .main-text-slide {
      width: 500px;
      height: 200px;
      padding: 40px;
    }

    strong {
      width: 100%;
      display: block;
      font-weight: 800;
    }
  }
}

.action {
  padding: 75px 25px;
  background-color: @color;
  margin-top: -25px;
  position: relative;
  z-index: 3;
  color: #FFF;
  font-size: 28px;
  text-align: center;

  .download {
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    color: #FFF;
    border-bottom: 3px #FFF solid;
    cursor: pointer;

    &:hover {
      border-bottom: 3px #444 solid;
    }
  }
}

.logos {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  background-color: #F5F5F5;

  li {
    width: 33%;
    height: 70px;
    margin: 0;
    display: inline-block;
    border-right: 1px #E2E2E2 solid;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: #E2E2E2;
    }

    &:last-child {
      border-right: none;
    }

    a {
      width: 100%;
      height: 70px;
      padding: 15px;
      display: block;
    }
  }
}

@media only screen and (max-width : 768px) {
  .app .main-title {
    font-size: 3em;
  }
}